/* #mainContainer {
  background: rgb(30, 30, 30);
  border: rgb(200, 200, 200) solid 1px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
} */
/*
#buttonContainer {
  position: absolute;
  width: 100%;
}

button {
  position: relative;
  top: 15px;
  left: 30%;
} */

/* p {
    display: inline-block;
    color: white;
} */
