<app-back-drop></app-back-drop>
<app-add></app-add>
<app-modify [studentToModify]="studentToModify"></app-modify>

<div id="mainContainer">
  <table id="contentTable">
    <tr>
      <th>Name</th>
      <th>LastName</th>
      <th>Id</th>
      <th>DateOfBirth</th>
      <th>Sex</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let data of currentPageData">
      <th>{{data.name}}</th>
      <th>{{data.lastName}}</th>
      <th>{{data.idNumber}}</th>
      <th>{{data.dateOfBirth | date}}</th>
      <th>{{data.sex | genderPipe}}</th>
      <th><button (click)="openModify(data)">Modify</button></th>
      <th><button (click)="deleteData(data)">Delete</button></th>
    </tr>
  </table>
  <div>
    <button (click)="changePage(currentPage - 1)">back</button>
    <button (click)="changePage(currentPage + 1)">front</button>
    <button (click)="openAdd()">Add</button>
  </div>
</div>
